[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jedi = "*"
pytest-watch = "*"

[packages]
requests-html = "*"
structlog = "*"
toml = "*"
iexfinance = "*"
pandas = "*"
tqdm = "*"

[requires]
python_version = "3.6"
